main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.active {
    height: 100vh;
    background-color: violet;
}
p {
    font-size: 18px;
    text-align: center;
   
}
.red {
    color: red;
}
.todo {
    background-color: cadetblue;
    margin: 10px;
    padding: 15 px;
    width: 40%;
    border-radius: 8px;
}
.line {
    text-decoration: line-through;
}

    
    


}