h1 {
    color: turquoise;
    text-align: center;
    background-color: darkorange;
    width: 50%;
    margin: auto;
}

p {
    color: royalblue;
    font-size: 150%;
    text-align: center;
}
img {
    width: 500px;
    display: block;
    margin: auto;
}
article {
    background-color: yellowgreen;
    width: 85%;
    margin: auto;
    padding: 30px;
}
